
services:

 
  db:
    image: postgres
    restart: always
    ports:
      - 5433:5432
    environment:
      POSTGRES_PASSWORD: Aksinh1192037
      POSTGRES_USER: AksinhUser
      POSTGRES_DB: AksinhDB

 
  adminer:
    image: adminer
    restart: always
    ports:
      - 8087:8080